/* General */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    background-color: #272635;
    display: flex;
}


/* ------ Add Player Box ------ */

nav#player-box {
    height: 100%;
    width: 16rem;
    background-color: #E5E5E5;
    padding: 0.75rem;
    align-items: center;
}

.placeholder {
    /* make background circle */
    background-color: #6e839b;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin: 30% auto;
}

.player-add {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.player-add input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.player-add button {
    color: rgb(70, 245, 91);
    background-color: rgb(165, 165, 165);
    border-color: transparent;
    border-radius: 15%;
    font-size: 200%;
    margin: 0;
}

.player-container {
    display: flex;
    flex-direction: column;
    margin: 30% auto;
}

.player-container button {
    margin: -25% auto 0;
    color: rgb(222, 69, 39);
    background-color: transparent;
    border-color: transparent;
    border-radius: 15%;

}

.player {
    /* make background circle */
    background-color: #6e839b;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 1.75rem;
    margin: auto;
    color: white;
}

.player span {
    color: orange;
}

.bc-conn {
    float: right;
    visibility: hidden;
}


/* Main content */

main {
    display: inline-block;
    margin: auto;
    padding: 1rem;
    width: 1200px;
}

main nav {
    height: fit-content;
}

nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #4457d4;
    padding: 0.5rem;
    font-family: sans-serif;
}


/* Individual Player Scores  */

#player-stats {
    width: 100%;
    height: 800px;
    background-color: #4457d4;
    padding: 2rem;
}

.scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    text-align: center;
}


.score-label {
    font-family: sans-serif;
    font-size: 130%;
    font-weight: bolder;

}