/* General */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}


/* ------ Add Player Box ------ */

nav#player-box {
    display: inline-block;
    height: 100%;
    width: 15rem;
    background-color: lightgray;
    padding: 0.75rem;
}

nav>input {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.player-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.player-container button {
    margin: .25rem auto 0;
}

.player {
    /* make background circle */
    background-color: #6e839b;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    color: white;
}

.player span {
    color: orange;
}

.bc-conn {
    float: right;
    visibility: hidden;
}


/* Main content */

main {
    display: inline-block;
    margin: auto;
    vertical-align: top;
    padding: 1rem;
}

main nav {
    height: fit-content;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #6e839b;
    padding: 0.5rem;
}


/* Individual Player Scores  */

#player-stats {
    width: 100%;
    background-color: #6e839b;
    padding: 2rem;
}

.scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
}

.score {
    background-color: lightgray;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 2.25rem;
}

.rank {
    background-color: darkgray;
    height: 10rem;
    width: 10rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 2.25rem;
}

.score-label {
    font-size: 2rem;
}