main {
    margin: 32px auto 0;
    margin-left: 200px;
    width: 1200px;
    padding: 16px;
    padding: 0px 10px;
}


/* ------ Nav bar ------ */

main nav {
    height: fit-content;
}

nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #4457d4;
    padding: 0.5rem;
    font-family: sans-serif;
}


/* ------ Individual Player Scores ------ */

#player-stats {
    width: 100%;
    height: 800px;
    background-color: #4457d4;
    padding: 32px;
}

.scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    text-align: center;
}

.CircularProgressbar {
    height: 15rem;
    width: 15rem;
}

.score-label {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

/* subscores */

#breakdown {
    display: flex;
}

#subscores {
    display: flex;
    margin-left: 2%;
}

#max,
#min,
#you {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

#min {
    background-color: rgb(195, 71, 71);
    /* Set the background color of Box 1 */
    width: 70px;
    /* Distribute the available space equally among the three boxes */
    height: 80px;
    /* Set the height of the boxes as needed */
    margin-top: 10px;
}

#max {
    background-color: rgb(72, 235, 89);
    /* Set the background color of Box 2 */
    width: 70px;
    /* Distribute the available space equally among the three boxes */
    height: 80px;
    /* Set the height of the boxes as needed */
    margin-top: 10px;
}

#you {
    background-color: blue;
    /* Set the background color of Box 3 */
    width: 100px;
    /* Distribute the available space equally among the three boxes */
    height: 100px;
    /* Set the height of the boxes as needed */
}

#subscores::after {
    content: "";
}

#breakdownHeaders {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

#scoreBreakdownLabel {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
}